<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>conversation between me and my frnd:</h1>
        <h3>{{ name1 }}: Hi Hello, How are you {{ name2 }}?</h3>

    <h3>{{ name2 }}: Yeah! I am good, what about you {{ name1 }}?</h3>

    <h3>{{ name1 }}: I am good, how about your trip planning?</h3>

    <h3>{{ name2 }}: Where is the location?</h3>

    <h3>{{ name1 }}: {{ place }}</h3>

    <h3>{{ name2 }}: Ok enjoy, bye take care.</h3>

</body>
</html>