<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student details</title>
</head>
<body>
    <h1>student details</h1>
    <p><b>name:</b>{{student.name}}</p>
    <p><b>age:</b>{{student.age}}</p>
    <p><b>email:</b>{{student.email}}</p>
    <p><b>place:</b>{{student.place}}</p>
    <p><a href="/update/{{student.id}}/">update</a></p>
    <p><a href="/delete/{{student.id}}/">delete</a></p>
</body>
</html>