<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employ table</title>
</head>
<body>
    <center>
        <h1>Employ database</h1>
        <table border="2ps">
            <tr>
                <th>FNAME</th>
                <th>LNAME</th>
                <th>AGE</th>
                <th>GENDER</th>
                <th>DOB</th>
                <th>PLAEC</th>
                <th>EMAIl</th>
            </tr>
                {% for i in employ%}
                <tr>
                    <td>{{i.fname}}</td>
                    <td>{{i.lname}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.place}}</td>
                    <td>{{i.email}}</td>
                </tr>
                {%endfor%}
        </table>
        <h4><a href="http://127.0.0.1:8000/admin/">add employ data</a></h4>
    </center>
</body>
</html>