<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body style="background-image: url('https://in.pinterest.com/pin/500110733642315849/');background-repeat: no-repeat;background-position: center;">
    <center>
        <hr>
            <h1>SLMS PROJECT</h1>
            <p>staff leave management system</p>
    <div style="display: flex;justify-content: center;align-items: center;">
        <button><a href="{% url 'login' %}" style="text-decoration: none;">Login</a></button>
         <button><a href="{% url 'register'%}" style="text-decoration: none;">Register</a></button>
    </div>
    <hr>
    <footer>
        <p>@ copyrigth 2026 Santhosh | all rigths reserved</p>
    </footer>
    <hr>
 </center>
</body>
</body>
</html>