<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
</head>
<body>
    <div class="container card centered">
        <h1>SLMS Project</h1>
        <p>Staff Leave Management System</p>
        <div class="button-group">
            <a class="button" href="{% url 'login' %}">Login</a>
            <a class="button button-secondary" href="{% url 'register' %}">Register</a>
        </div>
        <footer>
            <p>@ copyright 2026 Santhosh | All rights reserved</p>
        </footer>
    </div>
</body>
</html>