<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My leaves</title>
</head>
<body>
    <table border="2">
        <legend>my leave applications</legend>
        <tr>
            <th>Leave type</th>
            <th> start date</th>
            <th>end date</th>
            <th>Resone</th>
            <th>status</th>
        </tr>
        {% for i in Leave %}
        <tr>
            <td>{{i.Leave_type}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            <td>{{i.reason}}</td>
            <td>{{i.status}}</td>
        </tr>
        {% empty %}
        <td>no applications</td>
        {% endfor %}
    </table>
    <a href="{% url 'staff' %}"></a>
</body>
</html>