 <!DOCTYPE html>
<html lang="en">

<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff page</title>
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
</head>

<body>

    <H1>
        WELCOME, {{register.user.username}}
    </H1>
    <h5>Apply Leave</h5>
    <p>Submit a new leave request</p>
    <a href="{% url 'apply_leave' %}">Apply</a>
    <h5>My Leave Status</h5>
    <p>View your leave requests</p>
    <a href="{% url 'my_leave'%}">View</a>
</body>

</html>