<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav style="display: flex; justify-content: center; align-items: center; background-color: aqua; padding: 10px; gap: 15px; ">
    <a href="#">home</a>
    <a href="#">About us</a>
    <a href="#">project</a>
    <a href="#">job</a>
    <a href="#">contact us</a>
    <a href="#">logout</a>
</nav>
    {% block content %}
{% endblock %}
</body>
</html>