<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Student details</h1>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Stantend</th>
                <th>age</th>
                <th>email</th>
                <th>phone number</th>
                <th>inmage</th>
            </tr>
            {% for i in dis %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.stantend}}</td>
                <td>{{i.age}}</td>
                <td>{{i.email}}</td> 
                <td>{{i.phone}}</td>
                <td><img src="{{ i.image.url }}" alt="Profile picture of {{ i.name }}" class="student-img"></td>
                <td><button><a href="{% url 'update' i.id%}">update</a></button></td>
                <td><button><a href="{% url 'delete' i.id%}">Delect</a></button></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'insert' %}">insert</a>
    </center>
</body>
</html>